PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/pcpfa?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d
DATASET_API_URL=https://t4e-testserver.onrender.com/api
DATASET_STUDENT_ID=UniqueID
DATASET_PASSWORD=278701
